span {
    color: #83a598
}
.white {
    color: #5d666f;
}
.green {
    color: #8ec07c;
}
.greenbg {
    background: #8ec07c;
    color: #282828;
}
.yellow {
    color: #fabd2f;
}
.yellowbg {
    background: #fabd2f;
    color: #282828;
}
.red {
    color: #fb4934;
}
.sicon {
    position: relative;
    font: 12px fontawesome;
}
.icon {
    position: relative;
    top: 1px;
    font: 14px fontawesome;
}
.weather {
    font: 13px WeatherIcons-Regular;
}
.blue {
    color: #458588;
}
.black {
	color: #000000;
}
.cyan {
    color: #8ec07c;
}
.cyanbg {
    background: #8ec07c;
    color: #282828;
}
.grey {
    color: #999;
}
.magenta {
	color: #c678dd;
}
.win-back {
    background-color: #999999;
    height: 100%;
}
.purple {
    color: #d3869b;
}
.orange {
    color: #fe8019;
}
.orangebg {
    background: #fe8019;
    color: #282828;
}
